<body onCopy="return false">
<form id="form" method="post" action="/">
    <div class="authorization-field">
        <div class="authorization-img">
            <img src="/images/dog.svg" alt="">
        </div>
        <div class="authorization-text">Войдите в игру</div>
        <div class="authorization-box">
            <div><input name="usernames" required id="login" data-rule="login" class="authorization" placeholder="Логин"></div>
            <div><input name="password" required id="pass" data-rule="pass" class="authorization" placeholder="Пароль"></div>
            <div id="authStat" >Неверный пароль или логин</div>
        </div>

        <button id="btn" class="authorization-btn" type="submit"> Войти</button>

    </div>
</form>
<script src="/javascripts/authorization_page_validation.js"></script>
</body>
