<header>
    <div id="logo" class="asd"><img src="/images/logo.svg" alt=""></div>
    <div id="nav-bar">
        <div class="active">Игровое поле</div>
        <div>Рейтинг</div>
        <div>Активные игроки</div>
        <div>История игр</div>
        <div>Список игроков</div>
    </div>
    <div id="signout">
        <img src="/images/signout.svg" alt="">
    </div>
</header>