<%
let player = [
    {FIO: 'Александров Игнат Анатолиевич', games: "24534", wins: '9824', loss: '1222', percentage_of_wins: '87%'},
    {FIO: 'Шевченко Рафаил Михайлович', games: "24534", wins: '9824', loss: '1222', percentage_of_wins: '87%'},
    {FIO: 'Мазайло Трофим Артёмович', games: "24534", wins: '9824', loss: '1222', percentage_of_wins: '87%'},
    {FIO: 'Логинов Остин Данилович', games: "24534", wins: '9824', loss: '1222', percentage_of_wins: '87%'},
    {FIO: 'Борисов Йошка Васильевич', games: "24534", wins: '9824', loss: '1222', percentage_of_wins: '87%'},
    {FIO: 'Соловьёв Ждан Михайлович', games: "24534", wins: '9824', loss: '1222', percentage_of_wins: '87%'}
]
%>
<div class="rating-players">
    <div class="rating-title">Рейтинг игроков</div>
    <div class="rating-table">
        <div id="thickness" class="row-dat">
            <div class="cell">ФИО</div>
            <div class="cell-common">Всего игр</div>
            <div class="cell-common">Победы</div>
            <div class="cell-common">Проигрыши</div>
            <div class="cell-common">Процент побед</div>
        </div>
        <% player.forEach(item => { %>
            <div class="row-dat">
                <div class="cell"><%= item.FIO %></div>
                <div class="cell-common"><%= item.games %></div>
                <div class="cell-common-win-color"><%= item.wins %></div>
                <div class="cell-common-lose-color"><%= item.loss %></div>
                <div class="cell-common"><%= item.percentage_of_wins %></div>
            </div>
        <% }) %>

    </div>
</div>