body{
    display: flex;
    justify-content: center;
    margin: 0;


}
.authorization-img{
    display:flex;
    justify-content: center;

}
.authorization-field {
    display: flex;
    flex-direction: column;
    margin: 150px 0 100px 0;
    padding: 40px 24px;
    gap: 20px;
    width: 300px;

    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}
.authorization-text{
    font-family: 'Roboto',serif;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;
}
.authorization-box{
    display: flex;
    flex-flow: column;
    gap:12px;
}
.authorization{
    resize: none;
    width: -webkit-fill-available;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 30px;
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;

    font-family: 'Roboto',serif;
    font-style: normal;
    font-weight: 400;

    /* identical to box height, or 150% */

    display: flex;
    align-items: center;


    color: #373745;





}
.authorization-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;




    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;
    font-family: 'Roboto',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    text-align: center;
    letter-spacing: 0.24px;

    /* Gray / White */

    color: #FFFFFF;
}
#authStat{
    font-family: 'Roboto',serif;
    display: none;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    font-size: 13px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: red;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
button:hover{
    background: #60C2AA;
}
.valid{
    border: 2px solid green;
}
.invalid{
    border: 2px solid red;
}